:root {
  font-family: "Silkscreen", Helvetica, sans-serif;

  --text: white;
  --dark: #161616;
  --base: #2e2e2e;
  --highlight: #5a5a5a;
  --accent: #475f8e;

  user-select: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(to top, var(--dark) 30%, 80%, transparent),
    url("pokemon-city.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text);
  min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

ul {
  padding: 0;
}

#root,
#__next {
  isolation: isolate;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

nav {
  width: 100%;
  padding: 0 50px;
  height: 50px;
  font-size: 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px) brightness(0.7);

  ul {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
  }
}

ul li:nth-child(2) {
  margin-right: auto;
}

button {
  justify-self: start;
}

@media (max-width: 900px) {
  .app .nav-label {
    display: none;
  }
}

@media (max-width: 700px) {
  ul li:first-child {
    margin-right: auto;
  }

  ul li:nth-child(2) {
    display: none;
  }
}
