.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  max-width: 1200px;
  width: 90%;
  opacity: 0;
  margin: auto;
  animation: fadeIn 0.4s forwards;

  .card {
    position: relative;
    display: grid;
    aspect-ratio: 1/1;
    grid-template-rows: auto 1fr auto;
    border: 3px solid rgba(192, 192, 192, 0.7);
    outline: 3px solid transparent;
    transition: outline 0.4s, filter 0.4s;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    image-rendering: pixelated;
    overflow: clip;

    .types {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: auto;
    }

    p {
      margin: auto;
    }
  }

  .card:hover {
    outline: 3px solid white;
    outline-offset: 3px;
    filter: brightness(1.2);
  }

  .card::after {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    height: 50%;
    width: calc(100% + 60px);
    bottom: -50px;
    left: -40px;
    transform: rotateZ(20deg);
  }

  .instructions {
    grid-column: span 4;
    text-align: center;
  }
}

.loadingIcon {
  margin: auto;
  min-height: 50px;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .container {
    margin: 0 auto;

    grid-template-columns: repeat(3, 1fr);

    .instructions {
      grid-column: span 3;
    }
  }
}

@media (max-width: 700px) {
  .container {
    .card {
      font-size: 0.9rem;
      grid-template-rows: auto 1fr;
    }

    .card .types {
      display: none;
    }
  }
}
