.container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 10px;
  max-width: 1200px;
  width: 90%;
  opacity: 0;
  margin: auto;
  animation: fadeIn 0.4s forwards;

  .card {
    position: relative;
    aspect-ratio: 1/1;
    border: 3px solid rgba(192, 192, 192, 0.7);
    outline: 3px solid transparent;
    transition: outline 0.4s, filter 0.4s;
    background-size: cover;
    cursor: pointer;
    image-rendering: pixelated;
    overflow: hidden;
  }

  .card:hover {
    outline: 3px solid white;
    outline-offset: 3px;
    filter: brightness(1.2);
  }

  .card::after {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    height: 50%;
    width: calc(100% + 60px);
    bottom: -50px;
    left: -40px;
    transform: rotateZ(20deg);
  }
}

.loadingIcon {
  margin: auto;
  min-height: 50px;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
